.flex {
    display: flex;
}
.flexCenter{
     display: flex;
     align-items: center;
     justify-content: center;
}
.headerContainer{
    justify-content: space-between;
    align-items: center;
}