.flex{
    display: flex;
}
.flexCenter{
    display: flex ;
    align-items: center;
    justify-content: center;
}
.todoListContainer{
    margin-top: 20px ;
    flex-direction: column;
    gap : 10px ;
}
.listItem{
    border : 1px solid #47444480 ;
    border-radius: 5px ;
    padding : 12px 14px ;
    align-items: center;
    justify-content: space-between;
}
.itemDetails{
    flex : 1 ;
    gap : 12px 
}
.itemOperations{
    gap : 10px ;
}
.iconStyle{
    cursor: pointer;
}